// Your custom SCSS should be written here...
.centalign{text-align: center;}

.searchform{width:100%; height:30px; font-size:$med; margin-top:10px; margin-bottom:5px;}

.hoverlink{color:$black; cursor:pointer; &:hover, &:active, &:focus{color:$primary-color;}}

#searchWrapper{@include transition-duration(0.5s);}
.vertalign{@include translate3d(0, 200px, 0)}//margin-top:300px;}

.searchResults{
  list-style:none;
  li{
    display:block;
    width:100%;
    padding:10px;
    cursor:pointer;
    @include transition-duration(0.3s);
    &:hover, &:active, &:focus{
      background: darken($white, 5%);
      .searchname{color:$primary-color;}
    }
    .searchname{
      font-size: $large;
    }
    .keywords{
      font-size: $small+4;
      text-align:right;
    }
  };
}

.login-link-and-dropdown-list{
  //position:absolute;
  left:5px;
  cursor: pointer;
  display:inline !important;
  float:left !important;
  .login-link-text{
    @include transition-duration(0.3s);
    color:$black;
    display:inline !important;
    float:left !important;
    font-size: $large;
    &:hover, &:active, &:focus{
      color:$primary-color;
    }
  }
}

  .accounts-dialog{
    margin-left: 8px;
    .login-close-text{
      display: none;
      display:inline !important;
      float:left !important;
      font-size: 0px;
      color:$primary-color;
    }
    .login-text-and-button{
      font-size: $med+2;
      display:inline !important;
      float:left !important;
    }
  }

#backToResults{
  font-size: $large;
  text-align: left;
  @extend .hoverlink;
}

.title{
  text-align: center;
}