// Your custom SCSS should be written here...
.btn{cursor: pointer;}

.centalign{text-align: center;}

.searchform{width:100%; height:30px; font-size:$med; margin-top:10px; margin-bottom:5px;}

.hoverlink{color:$black; cursor:pointer; &:hover, &:active, &:focus{color:$primary-color;}}

.inlined{display: inline; float:left;}

#searchWrapper{@include transition-duration(0.5s);}
.vertalign{@include translate3d(0, 200px, 0)}//margin-top:300px;}

.searchResults{
  list-style:none;
  li{
    display:block;
    width:100%;
    padding:10px;
    cursor:pointer;
    @include transition-duration(0.3s);
    &:hover, &:active, &:focus{
      background: darken($white, 5%);
      .searchname{color:$primary-color;}
    }
    .searchname{
      font-size: $large;
    }
    .keywords{
      font-size: $small+4;
      text-align:right;
    }
  };
}

.login-link-and-dropdown-list{
  //position:absolute;
  left:5px;
  cursor: pointer;
  display:inline !important;
  float:left !important;
  .login-link-text{
    @include transition-duration(0.3s);
    color:$black;
    display:block;
    float:left !important;
    font-size: $med+5;
    &:hover, &:active, &:focus{
      color:$primary-color;
    }
  }
}

  .accounts-dialog{
    margin-left: 8px;
    @extend .inlined;
  }
.login-close-text{
      display: none;
      @extend .inlined;
      font-size: 0px;
      color:$primary-color;
    }
.login-form{
      font-size: $med+2;
      @extend .inlined;
    }
#login-email-label-and-input{@extend .inlined; @extend input}
  #login-password-label-and-input{@extend .inlined; @extend input}
  .login-button{@extend .inlined; @extend .secondary; @extend .btn; @extend .medium; color:$white; padding-left:5px !important; padding-right:5px !important;  margin-left: 5px;
  margin-right:5px; cursor: pointer;}

#backToResults{
  font-size: $large;
  text-align: left;
  @extend .hoverlink;
}

.title{
  text-align: center;
}

.additional-link-container{@extend .inlined; @extend .secondary; @extend .btn; @extend .medium; a{padding-left:5px !important; padding-right:5px !important;};  margin-left: 5px;
  margin-right:5px;}

$imglargereplacementhgt: 250px;

.imgreplacementlrg{
  display:block;
  background: $primary-color;//rgb(255,117,117);
  text-align: center;
  overflow:hidden;
  font-size: $xlarge;
  color: $white;
  height:$imglargereplacementhgt;
  line-height:$imglargereplacementhgt;
  .repson{
    margin:0 auto;
    margin-top: 10px;
    height: $imglargereplacementhgt - 20px;
    width: 97%;
    line-height: $imglargereplacementhgt - 20px;
    font-size: $xlarge;
    color: $white;
    text-align: center;
    border: 5px dashed $white;
  }
}



